<!-- <app-example></app-example> -->
<!-- <app-forms></app-forms> -->

<!-- <h3>We'll use this input to change the message and send it down the component tree</h3>
<input [(ngModel)]="message" />
<app-input [message]="message"></app-input>
<app-output (messageEmitter)="setMessage($event)"></app-output> -->

<!-- <app-list></app-list> -->

<!-- <app-input-service></app-input-service>
<app-output-service></app-output-service> -->

<!-- <app-rick-morty></app-rick-morty> -->

<h1>Upgrade Hub Angular Course</h1>

<nav>
  <a [routerLink]="['/']"><h4>Home</h4></a>
  <a [routerLink]="['/rick-morty']"><h4>Rick & Morty characters</h4></a>
  <a [routerLink]="['/pipes']"><h4>Pipes example</h4></a>
</nav>

<router-outlet></router-outlet>

